server:
  port: 8080

spring:
  application:
    name: auth-service

  # Database Configuration
  datasource:
    url: jdbc:postgresql://localhost:5432/authdb
    username: dev
    password: dev123
    driver-class-name: org.postgresql.Driver

  # JPA Configuration
  jpa:
    hibernate:
      ddl-auto: update

# JWT Configuration
jwt:
  access-token:
    secret: "404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970"
    expiration: 900000
  refresh-token:
    secret: "77397A24432646294A404E635266556A586E3272357538782F4125442A472D4B"
    expiration: 604800000